{% extends 'base.html.twig' %} {#import du theme parent#}
{% block body %}
    <form method="post" action="/user/nouveaulogin" class="col-md-6 inscri-form">
        <h2>Login</h2>
        <div>
            <input class="form-control" placeholder="nom" type="text" name="nom">
        </div>
        <div>
            <input class="form-control" placeholder="mot de asse" type="password" name="mdp">
        </div>
        <button type="submit" class="btn-primary btn">Login</button>
    </form>
{% endblock %}