{% extends 'base.html.twig' %}  {#import du theme parent#}
{% block body %}
    <p>informations de l'utilisateur:</p>
    <p>nom : {{ nom }}</p>
    <p>prenom : {{ prenom }}</p>
    <p>mot de passe : {{ mdp }}</p>
{% endblock %}